<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :preparation %>
    <%= form.text_field :preparation %>
  </div>

  <div class="field">
    <%= form.label :desc_image %>
    <%= form.text_field :desc_image %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :prep_time %>
    <%= form.text_field :prep_time %>
  </div>

  <div class="field">
    <%= form.label :cook_time %>
    <%= form.text_field :cook_time %>
  </div>

  <div class="field">
    <%= form.label :ingredients %>
    <%= form.text_field :ingredients %>
  </div>

  <div class="field" style="display: none;">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, :value => "#{current_user.id}" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
