<p id="notice"><%= notice %></p>
<h1>Recipes</h1>
<% if @recipes.empty? -%>
  <p>You don't have any recipes.</p>
<% else -%>
  <%= form_tag(recipes_path, method: :get) do %>
  <p>Search for a Recipe </p>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Search") %>
  <% end %>
  <table>
    <thead>
      <tr>
        <th><%= link_to "Name", :sort => "name"%></th>
        <th><%= link_to "Content", :sort => "content"%> </th>
        <th><%= link_to "Prep time", :sort => "prep_time"%></th>
        <th><%= link_to "Cooking time", :sort => "cook_time"%></th>
        <th>Ingredients</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= recipe.name %></td>
          <td><%= recipe.content %></td>
          <td><%= recipe.prep_time %></td>
          <td><%= recipe.cook_time %></td>
          <td><%= recipe.ingredients %></td>
          <td><%= link_to 'Show', recipe %></td>
          <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
          <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end -%>

<br>
